body{
    background-image: url("./../css/Immagini/Sfondi/chiesa.jpeg");
    background-size: 1920px 1440px;
    background-repeat: no-repeat;
    background-position: top;
}
.sezioneSelezionata{
    width: 250px;
    height: 75px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background-color: #f6eedd;
}
.sezioneSelezionataElem{
    float: left;
}
#sezEsploraTitolo{
    margin-left: 30px;
    margin-top: 29px;
}
#sezEsploraImg{
    height: 80px;
    margin-top: -5px;
}
#preMain{
    width: 550px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
    background-color: #f6eedd;
    padding: 1px;
}
#buttonGo{
    font-size: 20px;
    width: 100px;
    margin-left: 540px;
}
#titleChiesa{
    text-align: center;
}
#Chiesa{
    width: 600px;
    position: relative;
    z-index: 0;
    top:-470px;
    left:10px;
    bottom:0px;
}
#chiesa{
    overflow: hidden;
    height: 500px;
}
#panche{
    position: relative;
    width: 395px;
    margin-top: 140px;
    left: 70px;
    z-index: 1;
}
.pancaStyle{
    float: left;
    width: 10px;
    height: 60px;
    margin-left: 15px;
    border: solid black;
    z-index: 1;
}
.pancaStyle2{
    float: left;
    width: 10px;
    height: 60px;
    margin-left: 15px;
    margin-top: 55px;
    border: solid black;
    z-index: 1;
}
.noPanca{
    width: 20px;
    height: 20px;
    border: solid blue;
    z-index: 1;
}
#elem1{
    position: absolute;
    margin-left: 470px;
    top:80px;
}
#elem2{
    position: absolute;
    margin-left: 440px;
    top:80px;
}
#elem3{
    position: absolute;
    margin-left: 380px;
    top:80px;
}
#elem4{
    position: absolute;
    margin-left: 440px;
    top:190px;
}
#elem5{
    position: absolute;
    margin-left: 440px;
    top:-40px;
}
#elem6{
    position: absolute;
    margin-left:-50px;
    top:160px;
}
#divPanca{
    position: relative;
    top: -95px;
    left: 260px;
    width: 550px;
    height: 370px;
}